<div class="jumbotron">
  <h1>Dashboards</h1>
  <p>
    Gerencie seus projetos em qualquer lugar!
  </p>
  <p>
    <%= link_to 'Crie Sua Conta', new_account_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>